@import "styles/light.scss";

* {
	all: unset;
	font-family: MesloLGM Nerd Font;
}

// ----- SIDE PANNEL -----

.sidepannel { background-color: $alpha; }
.sidepannel button:hover { 
	color: $shade8; 
	transition: 0.2s;
}

.container {
	background-color: $window-bg;
	padding: 0 0 .7rem .7rem;
	// border-radius: 0 0 8px 0;
}
.container.time {
	padding: 0 0 1.1rem 0.7rem;	
	// border-radius: 0 8px 0 0;
}

.roundpannel {
	background-color: $bg;
	border-radius: 8px;
	padding: 0 .7rem;
	margin: .7rem .7rem 0 0;
	color: $text;
	transition: 0.6s;
}
.roundpannel.player { margin: 1rem .7rem 0 0; }
.roundpannel.settings { padding: .7rem }
.roundpannel.weather { padding: 1.2rem 1.2rem 1.1rem 1.2rem; }

.label-time {
	color: $text-time;
	font-family: Iosevka Nerd Font;
	font-size: 4.5em;
}
.label-date {
	font-size: 1.3em;
	color: $text-label;
}

.cava { background-color: rgba(0,255,0,0); }

.labels {
	font-size: 1.8em;
	margin-bottom: -.7rem;
	color: $text;
}
.label-title { font-size: 1.3em; }
.label-artist { color: $text-label; }
.btn-play { font-size: 1.8em; font-family: MesloLGM Nerd Font; }
.player.disabled { color: $grey; }

.settings scale trough {
	background-color: $trough;
	margin: 0 1.1rem 0 .7rem;
	min-height: 12px;
	border-radius: 10px;
}
.settings scale trough highlight { 
	background-color: $trough-hl; 
	border-radius: 50px;
}
.disabled scale trough { background-color: $trough-disabled; }
.disabled scale trough highlight { background-color: $trough-hl-disabled; }
.btn-settings { 
	font-size: 1.4rem;
	margin-left: .5rem;
}
.settings button.no-hover:hover { color: $text; }
.settings > .critical button { color: $urgent; }
.settings > .critical button:hover { color: $urgent; }
.settings > .critical scale trough { background-color: $trough-urgent; }
.settings > .critical scale trough highlight { background-color: $urgent; }

.weatherpannel { 
	font-size: 3.2rem; 
	color: $text-label;
}
.label-weather {
	color: $text-label;
	font-family: Iosevka Nerd Font;
	font-size: 1.8rem;
}

.radial {
	color: $trough-hl;
	background-color: $trough;
}
.radial-label {
	color: $text;
	font-size: 1rem;
	margin: 2.4rem;
}

.sys { background-color: $alpha; }
.sys button {
	background-color: $trough;
	border-radius: 100px;
	margin: .3rem .8rem;
	padding: 1rem .5rem;
	font-size: 1.5em;
	color: $fg;
	transition: 0.4s;
}
.sys button.selected { 
	background-color: $btn-select; 
	border-radius: 100px;
}
.sys button:hover { 
	background-color: $btn-hover;
	color: $fg;
}
button.selected:hover { background-color: $btn-hover; }
.disabled button { color: $grey; }


// ----- TASKBAR -----

.taskbar{
  background-color: $bar-bg;
  padding: 0rem;
  font-family: "MesloLGM Nerd Font";
  font-size: 1.3em;
  color: $bar-text;
}
.taskbar button:hover { color: $bar-hover; }

.bar-widget {
	background: $bar-widget-bg;
	margin: 0 5px;
	border-radius: 50px;
}

// Workspaces
.ws-label { 
	font-size: .8rem;
	margin-bottom: -8px;
}
.ws {
	padding: .5rem .6rem;
	border-radius: 40px;
}
.urgent { 
	background-color: $urgent;
	color: $fg;
}
.focused { 
	background-color: $shade7;
	color: $fg;
}
.ws-mode {
	font-size: 1rem;
	background: $urgent;
	color: $fg;
	margin-top: 1em;
	padding: .4rem 0;
}

// Control Panel
.control { padding: .5rem 0; }
.batt-icon { font-size: 1.2em; }
.batt-label { 
	font-size: .9rem;
	margin-top: -5px;
}

// Clock
.time-v {
  font-family: Iosevka Nerd Font;
  font-weight: bold;
  padding: .8rem  0 .2rem 0;
  margin-bottom: .5rem;
}
.time-min { margin-top: -.8rem; }

.bold { font-weight: bold; }
.red { background: rgba(255,0,0,1); }
.green { background: rgba(0,255,0,1); }
.blue { background: rgba(0,0,255,1); }

