@import "styles/dark.scss";

* {
	all: unset;
	font-family: Iosevka Nerd Font;
}

// ----- SIDE PANEL -----
.sidebar { margin-left: 100px; }
.sidepanel { 
	background-color: rgba(#ff0000,.5);
	font-size: 18px;
	border-radius: 8px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	margin: 12px;
	margin-left: 0;
}
.sidepanel button:hover { 
	color: $shade8; 
	transition: 0.2s;
 }

.container {
	background-color: $window-bg;
	padding: .7rem .7rem 0 .7rem;
}
.container.first { border-top-right-radius: 8px; }
.container.last { 
	border-bottom-right-radius: 8px;
	padding-bottom: .7rem;
}

.roundpanel {
	background-color: $bg;
	border-radius: 8px;
	padding: .7rem;
	color: $text;
}
.roundpanel.datetime { 
	padding: .6rem 0 .8rem 0;
	margin-bottom: 1.2rem;
}
.roundpanel.player { 
	padding: .7rem 0;
	margin-top: -.2rem;
}
.roundpanel.weather {
	margin-left: .7rem;
	padding: 1.2rem 1.2rem 1.1rem 1.2rem;
}
.roundpanel.stats { padding: 1rem; }
.roundpanel.quickbuttons { padding: .9rem .7rem; }

.cava { margin-left: -12px; }
.cava scale trough { min-width: 20px; }
.cava scale trough highlight { 
	background-color: $cava;
	// background: linear-gradient($vis-light, $vis-dark);
}

.roundpanel .time {
	color: $text-time;
	font-family: Iosevka Nerd Font;
	font-size: 64px;
	margin-bottom: -.1em;
}
.date {
	font-size: 20px;
	color: $text-label;
}

.player-controls {
	font-size: 26px;
	margin-bottom: -.4rem;
	color: $text;
}
.player-title { font-size: 20px; }
.player-artist { color: $text-label; }
.btn-play { 
	font-size: 1.8em; 
	font-family: MesloLGM Nerd Font; }
.player.disabled { color: $grey; }

.sidepanel .controls scale trough {
	background-color: $trough;
	margin: 0 1.1rem 0 .7rem;
	min-height: 13px;
	border-radius: 10px;
}
.sidepanel .controls scale trough highlight { 
	background-color: $trough-hl; 
	border-radius: 50px;
}
.sidepanel .disabled scale trough { background-color: $trough-disabled; }
.sidepanel .disabled scale trough highlight { background-color: $trough-hl-disabled; }
.btn-controls { 
	font-size: 22px;
	margin-left: .5rem;
}
.sidepanel .controls button.no-hover:hover { color: $text; }
.sidepanel .controls > .critical button { color: $urgent; }
.sidepanel .controls > .critical button:hover { color: $urgent; }
.sidepanel .controls > .critical scale trough { background-color: $trough-urgent; }
.sidepanel .controls > .critical scale trough highlight { background-color: $urgent; }

.weather-icon { 
	font-size: 56px;
	color: $text-label;
	font-family: MesloLGM Nerd Font;
	margin-bottom: -.2em;
}
.weather-icon button:hover { color: $weather-icon-hover; }
.weather-temp {
	color: $text-label;
	font-family: Iosevka Nerd Font;
	font-size: 24px;
}
.weather-cond { 
	font-size: 19px;
	color: $shade6;
}
.radial {
	color: $trough-hl;
	background-color: $trough;
}
.radial-label {
	color: $text;
	font-size: 16px;
	margin: 2.2rem;
}

.quickbtn button {
	background-color: $trough;
	border-radius: 100px;
	margin: 0 11px;
	padding: 1rem 0rem;
	font-size: 22px;
	color: $fg;
	transition: 0.4s;
}
.quickbtn button.selected { 
	background-color: $btn-select; 
	border-radius: 100px;
}
.quickbtn button:hover { 
	background-color: $btn-hover;
	color: $fg;
}
button.selected:hover { background-color: $btn-hover; }
.disabled button { color: $grey; }


// ----- TASKBAR -----

.taskbar {
  background-color: $bar-bg;
  font-size: 20px;
  color: $bar-text;
}
.taskbar button:hover { color: $bar-hover; }

.bar-widget {
	background: $bar-widget-bg;
	margin: 0 5px;
	border-radius: 50px;
}

// Workspaces
.workspace { margin-top: 20px; }
.ws-label { 
	font-size: .8rem;
	margin-bottom: -8px;
}
.ws-icon {
	padding: .5rem .6rem;
	border-radius: 40px;
}
.ws-icon.urgent { 
	background-color: $urgent;
	color: $fg;
}
.ws-icon.focused { 
	background-color: $shade7;
	color: $fg;
}
.ws-mode {
	font-size: 15px;
	background: $urgent;
	color: $fg;
	margin-top: .5rem;
	padding: .4rem 0;
}

// Control Panel
.bar-widget.controls { padding: .5rem 0; }
.bar-widget.controls button.no-hover:hover { color: $bar-text; }
.bar-widget.controls .crit { color: $urgent; }
.bar-widget.controls .crit button:hover { color: $trough-urgent; }
.bar-widget.controls .crit button.no-hover:hover { color: $urgent; }
.barbtn-icon-larger { font-size: 1.2em; }
.barbtn-label { 
	font-size: .9rem;
	margin-top: -5px;
}

// Clock
.taskbar .time {
  font-family: Iosevka Nerd Font;
  font-weight: bold;
  // padding: .8rem  0 .2rem 0;
  margin: .5rem 0 .7rem 0;
}
.time-min { margin-top: -.8rem; }

// Calendar
.calbox {
	box-shadow: rgba(0, 0, 0, 0.2) 2.4px -2.4px 3.2px;
	background: $cal-bg;
	border-radius: 10px;
	color: $cal-fg;
	padding: 5px 10px;
	margin: 10px 10px 5px 0;
}
calendar:selected { 
	background: $cal-se-bg;
	color: $cal-se-fg;
	border-radius: 50px;
}
calendar.header, calendar.button { color: $cal-header; }
calendar.highlight { color: $cal-hl; }
calendar:indeterminate { color: $cal-ind; }

// Global
.bold { font-weight: bold; }
.red { background: rgba(255,0,0,1); }
.green { background: rgba(0,255,0,1); }
.blue { background: rgba(0,0,255,1); }
.hidden {
	background-color: $alpha;
	color: $alpha;
}
