$window-bg: #e8e9ec;
$bg: #e7d0f0;
$fg: #ffffff;
$grey: #999999;
$shade4: #8e24aa;
$shade6: #ab47bc;
$shade7: #ba68c8;
$shade8: #ce93d8;
$alpha: rgba(#ffffff,0);

* {
	all: unset;
	font-family: MesloLGM Nerd Font;
}

// ----- SIDE PANNEL -----

.sidepannel {
	background-color: $alpha;
	// box-shadow: rgba(60, 64, 67, 0.4) 0px 1px 2px 0px, rgba(60, 64, 67, 0.2) 0px 2px 6px 2px;
}
.sidepannel button:hover { 
	color: $shade8; 
	transition: 0.2s;
}

.container {
	background-color: $window-bg;
	padding: 0 0 .7rem .7rem;
	// border-radius: 0 0 8px 0;
}
.container.time {
	padding: 0 0 1.1rem 0.7rem;	
	// border-radius: 0 8px 0 0;
}

.roundpannel {
	background-color: $bg;
	border-radius: 8px;
	padding: 0 .7rem;
	margin: .7rem .7rem 0 0;
	color: $shade4;
	transition: 0.6s;
}
.roundpannel.player { margin: .4rem .7rem 0 0; }
.roundpannel.settings { padding: .7rem }
.roundpannel.weather { padding: 1.2rem 1.2rem 1.1rem 1.2rem; }

.label-time {
	color: $shade7;
	font-family: Iosevka Nerd Font;
	font-size: 4.5em;
}
.label-date {
	font-size: 1.3em;
	color: $shade7;
}

.cava { background-color: rgba(0,255,0,0); }

.labels {
	font-size: 1.8em;
	margin-bottom: -.7rem;
	color: $shade4;
}
.label-title { font-size: 1.3em; }
.label-artist { color: $shade7; }
.btn-play { font-size: 1.8em; font-family: MesloLGM Nerd Font; }
.player.disabled { color: $grey; }

.settings scale trough {
	background-color: $shade8;
	margin: 0 1.1rem 0 .7rem;
	min-height: 12px;
	border-radius: 10px;
}
.settings scale trough highlight { 
	background-color: $shade4; 
	border-radius: 50px;
}
.disabled scale trough { background-color: #bbbbbb; }
.disabled scale trough highlight { background-color: $grey; }
.btn-settings { 
	font-size: 1.4rem;
	margin-left: .5rem;
}
.settings button.no-hover:hover { color: $shade4; }

.weatherpannel { 
	font-size: 3.2rem; 
	margin-top: -1rem; 
}
.label-weather {
	color: $shade7;
	font-family: Iosevka Nerd Font;
	font-size: 1.8rem;
}

.radial {
	color: $shade4;
	background-color: $shade8;
}
.radial-label {
	font-size: 1rem;
	margin: 2.4rem;
}

.sys { background-color: $alpha; }
.sys button {
	background-color: $shade8;
	border-radius: 100px;
	margin: .3rem .8rem;
	padding: 1rem 1rem;
	font-size: 1.5em;
	color: $fg;
	transition: 0.4s;
}
.sys button.selected { 
	background-color: $shade6; 
	border-radius: 100px;
}
.sys button:hover { 
	background-color: $shade4; 
	color: $fg;
}
button.selected:hover { background-color: $shade4; }
.disabled button { color: $grey; }

.bold { font-weight: bold; }
.red { background-color: rgba(255,0,0,1); }
.green { background-color: rgba(0,255,0,1); }
.blue { background-color: rgba(0,0,255,1); }

