[Unit]
Description=i3 monitor scripts (no borders, floating terminal)
PartOf=graphical-session.target

[Service]
ExecStart=/usr/local/sbin/i3_monitor
Restart=always
RestartSec=3

[Install]
WantedBy=graphical-session.target
