[Unit]
Description=Change theme daily and on boot

[Timer]
OnCalendar=*-*-* 4:30:5
OnCalendar=*-*-* 21:30:5
Persistent=true

[Install]
WantedBy=timers.target
