[Unit]
Description=User resume actions
After=suspend.target sleep.target

[Service]
User=user
Type=simple
Environment=DISPLAY=:0
Environment=XDG_RUNTIME_DIR=/run/user/1000
ExecStart=/home/user/.config/i3/scripts/eww_reload
ExecStartPost=/usr/bin/sleep 10
ExecStartPost=/home/user/.config/i3/scripts/cloud_sync

[Install]
WantedBy=suspend.target sleep.target
