[Unit]
Description=User suspend actions
Before=suspend.target sleep.target

[Service]
User=user
Type=forking
Environment=DISPLAY=:0
ExecStartPre= -/usr/bin/pkill cloud_sync
ExecStart=/home/user/.config/i3/scripts/poweractions lock

[Install]
WantedBy=suspend.target sleep.target
