@import "styles/colors.rasi"

* { 
	background-color:		@obg;
	text-color:				@ofg;
	font:					"MesloLGM Nerd Font Medium 14";
}

window {
	background-color:		@obg;
    width:					270px;
    padding:				25px 20px 25px 25px;
    border:					2px;
    border-radius:          20px;
    border-color:           @border;
    location:               center;
}

entry {
	background-color:		@alpha;
	text-color:				@ose;
    expand:					true;
}
