@import "colors.rasi"

* { 
	background-color:		@alpha;
	text-color:				@fg;
	font:					"FiraCode Nerd Font 14";
}

window {
	background-color:		@popup-bg;
    width:					260px;
    padding:				25px 25px 20px 25px;
    border:					1px;
    border-radius:          10px;
    border-color:           @popup-bd;
    location:               center;
    y-offset:               -2em;
}

entry {
	background-color:		@alpha;
    text-color:				#f1e4f6;
    expand:					true;
}
