@import "global.scss";

// Sidebar
$window-bg: #333;
$bg: $dark-purple;
$text: $light-purple;
$text-time: $light-purple;
$text-label: $shade8;
$trough: $shade5;
$trough-hl: $shade8;
$btn-select: $shade7;
$btn-hover: $shade4;
$trough-disabled: #666;
$trough-hl-disabled: $grey;
$trough-urgent: #993733;
$weather-icon-hover: $shade7;
$weather-cond: $lighter-shade8;
$cava: $shade4;

// Taskbar
// $bar-bg: rgba(#504158,.6);
// $bar-bg: rgba(#333,..2);
$bar-bg: rgba(#333,.85);
$bar-widget-bg: rgba(#555,.7);
$bar-text: $lighter-shade8;
$bar-widget-text: $lighter-shade8;
$bar-hover: $shade6;
$cal-bg: $window-bg;
$cal-fg: $light-purple;
$cal-se-bg: $shade8;
$cal-se-fg: $window-bg;
$cal-header: $shade8;
$cal-hl: #bfbfbf;
$cal-ind: #888;

