/* Confirm Dialog */

@import "styles/colors.rasi"

* {
    background-color:       @alpha;
    text-color:             @fg;
	font:				 	"FiraCode Nerd Font 14";
}

window {
	background-color:		@dunst-bg;
    width:      			260px;
    padding:    			25px 25px 20px 25px;
    border:					1px;
    border-radius:          10px;
    border-color:           @shade4;
    location:               center;
    y-offset:               -2em;
}

entry {
    expand: 				true;
    text-color:				#f1e4f6;
}
