[Unit]
Description=User suspend actions
After=suspend.target sleep.target

[Service]
User=user
Type=simple
Environment=DISPLAY=:0
Environment=XDG_RUNTIME_DIR=/run/user/1000
ExecStart=/home/user/dotfiles/system/resume

[Install]
WantedBy=suspend.target sleep.target
